In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import time
import random
import os
from math import *

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error as MAPE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as MAE

In [ ]:
path = os.getcwd()
print("Le répertoire courant est : " + path)

Le répertoire courant est : /content

In [4]:
d= pd.read_csv('df_complete_embed.csv')
#f= pd.read_csv('f.csv')

In [6]:
d= d.drop(d.columns[[0]], axis=1)

In [8]:
d= d.drop(d.columns[[0]], axis=1)

In [10]:
prix = d['price']

In [33]:
d= d.drop(['price'], axis=1)

In [41]:
test_set= pd.read_csv('df_test_embed.csv')

In [42]:
test_set= test_set.drop(test_set.columns[[0]], axis=1)
#test_set= test_set.drop(test_set.columns[[0]], axis=1)

In [43]:
X_test = test_set[['hotel_id', 'stock', 'city', 'date', 'language', 'mobile', 'avatar_id', 'group', 'brand', 'parking', 'pool', 'children_policy']]

In [28]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error,mean_absolute_percentage_error
from sklearn.metrics import mean_absolute_error

In [29]:
#fonction des erreurs
def weighted_average(prev,test):
    abs = mean_absolute_error(test, prev)
    rel = np.mean(np.abs(np.array(test)-np.array(prev))/np.array(test))
    return abs, rel
def erreur(test,prev): 
    MSE= round(mean_squared_error(test,prev),2)
    MAE= round(mean_absolute_error(test,prev),2)
    MAPE= round(weighted_average(prev,test)[1],3) *100
    return MSE,MAE,MAPE

In [35]:
from xgboost import XGBRegressor
regressor = XGBRegressor(learning_rate=0.01,  
                      colsample_bytree = 1,
                      subsample = 1,
                      n_estimators=1000, 
                      reg_alpha = 0.3,
                      max_depth=10, 
                      gamma=0)
regressor.fit(d,prix)

[21:03:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(learning_rate=0.01, max_depth=10, n_estimators=1000, reg_alpha=0.3)

In [ ]:
regressor.save_model('0002.model')

In [36]:
pred_ayoub= regressor.predict(X_test)
pred_ayoub= pd.Series(pred_ayoub)

In [45]:
index= test_set['index']
submission= pd.concat([index, pred_ayoub], axis=1)
submission.columns =['index', 'price']

In [46]:
submission

      index       price
0         0  108.256447
1         1  144.822144
2         2   61.137863
3         3   56.969791
4         4  200.404892
...     ...         ...
6639   6639   79.526627
6640   6640  238.000015
6641   6641  148.874146
6642   6642  177.521820
6643   6643  157.126694

[6644 rows x 2 columns]

In [47]:
submission.to_csv('ayoub_embed.csv', index=False)