In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content

In [3]:
!pwd

/content

In [5]:
from google.colab import files
uploaded = files.upload()

Saving 455tab1_pricing_requests_date22 (1).csv to 455tab1_pricing_requests_date22 (1).csv
Saving 455tab2_pricing_requests_date22.csv to 455tab2_pricing_requests_date22.csv

In [6]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['455tab1_pricing_requests_date22 (1).csv']))
df2 = pd.read_csv(io.BytesIO(uploaded['455tab2_pricing_requests_date22.csv']))
# Dataset is now stored in a Pandas Dataframe

In [7]:
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import time
import random
import os
from math import *

from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score, precision_score
from sklearn.metrics import mean_absolute_percentage_error as MAPE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as MAE

In [28]:
import ast
res = ast.literal_eval(df1[['request']].iloc[1][0])

In [34]:
res

{'city': 'vienna',
 'date': 22,
 'language': 'austrian',
 'mobile': 0,
 'avatar_id': 90845}

In [35]:
res
pd.DataFrame.from_dict(res,orient='index')

                  0
city         vienna
date             22
language   austrian
mobile            0
avatar_id     90845

In [27]:
str.replace(df1[['request']].iloc[1][0], "",'')

"{'city': 'vienna', 'date': 22, 'language': 'austrian', 'mobile': 0, 'avatar_id': 90845}"

AttributeError: ignored

In [36]:
uploaded = files.upload()

Saving pricing_requests_100req.csv to pricing_requests_100req.csv
Saving pricing_requests_500randomreq.csv to pricing_requests_500randomreq.csv

In [37]:
df1 = pd.read_csv(io.BytesIO(uploaded['pricing_requests_100req.csv']))
df2 = pd.read_csv(io.BytesIO(uploaded['pricing_requests_500randomreq.csv']))

In [38]:
df1

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id
0,0,366,78,24,amsterdam,24,estonian,1,33411
1,1,317,173,44,amsterdam,24,estonian,1,33411
2,2,685,264,58,amsterdam,24,estonian,1,33411
3,3,83,156,28,amsterdam,24,estonian,1,33411
4,4,441,180,41,amsterdam,24,estonian,1,33411
...,...,...,...,...,...,...,...,...,...
11933,39,363,165,6,valletta,6,cypriot,1,33510
11934,40,639,207,4,valletta,6,cypriot,1,33510
11935,41,424,280,4,valletta,6,cypriot,1,33510
11936,42,504,193,8,valletta,6,cypriot,1,33510
11937,43,244,399,6,valletta,6,cypriot,1,33510

In [58]:
frames = [df1, df2]
df = pd.concat(frames)

In [59]:
df

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id
0,0,366,78,24,amsterdam,24,estonian,1,33411
1,1,317,173,44,amsterdam,24,estonian,1,33411
2,2,685,264,58,amsterdam,24,estonian,1,33411
3,3,83,156,28,amsterdam,24,estonian,1,33411
4,4,441,180,41,amsterdam,24,estonian,1,33411
...,...,...,...,...,...,...,...,...,...
52919,101,98,150,45,vienna,25,portuguese,1,60373
52920,102,456,162,30,vienna,25,portuguese,1,60373
52921,103,245,140,22,vienna,25,portuguese,1,60373
52922,104,661,114,24,vienna,25,portuguese,1,60373
52923,105,268,110,36,vienna,25,portuguese,1,60373

In [46]:
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import time

import random
import os

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score, precision_score
from sklearn.metrics import mean_absolute_percentage_error as MAPE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score

In [60]:
Y = df['price']
X = df.copy()
del X['price']

In [61]:
Y

0         78
1        173
2        264
3        156
4        180
        ...
52919    150
52920    162
52921    140
52922    114
52923    110
Name: price, Length: 64862, dtype: int64

In [62]:
X

,Unnamed: 0,hotel_id,stock,city,date,language,mobile,avatar_id
0,0,366,24,amsterdam,24,estonian,1,33411
1,1,317,44,amsterdam,24,estonian,1,33411
2,2,685,58,amsterdam,24,estonian,1,33411
3,3,83,28,amsterdam,24,estonian,1,33411
4,4,441,41,amsterdam,24,estonian,1,33411
...,...,...,...,...,...,...,...,...
52919,101,98,45,vienna,25,portuguese,1,60373
52920,102,456,30,vienna,25,portuguese,1,60373
52921,103,245,22,vienna,25,portuguese,1,60373
52922,104,661,24,vienna,25,portuguese,1,60373
52923,105,268,36,vienna,25,portuguese,1,60373

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [64]:
X_train

,Unnamed: 0,hotel_id,stock,city,date,language,mobile,avatar_id
5887,48,997,26,madrid,19,german,0,33453
1546,93,154,43,madrid,22,romanian,1,59887
20654,91,449,9,paris,7,hungarian,1,60066
7496,60,893,4,copenhagen,13,italian,1,33466
8124,6,659,7,rome,6,bulgarian,1,59952
...,...,...,...,...,...,...,...,...
50632,154,599,33,paris,13,portuguese,1,60347
26220,93,860,20,madrid,21,cypriot,1,60119
860,64,9,0,amsterdam,8,latvian,1,33417
3857,32,233,2,madrid,7,danish,1,59908
44484,26,843,116,rome,31,lithuanian,0,60292

In [65]:
y_train

5887     133
1546     229
20654    217
7496     238
8124     208
        ...
50632    105
26220    142
860       87
3857     159
44484    222
Name: price, Length: 43457, dtype: int64

In [68]:
df = pd.get_dummies(df)

In [71]:
Y

0         78
1        173
2        264
3        156
4        180
        ...
52919    150
52920    162
52921    140
52922    114
52923    110
Name: price, Length: 64862, dtype: int64

In [97]:
Y = df['price']
X = df.copy()
del X['price']
del X['Unnamed: 0']

In [98]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [99]:
X_train

,hotel_id,stock,date,mobile,avatar_id,city_amsterdam,city_copenhagen,city_madrid,city_paris,city_rome,...,language_lithuanian,language_luxembourgish,language_maltese,language_polish,language_portuguese,language_romanian,language_slovakian,language_slovene,language_spanish,language_swedish
5887,997,26,19,0,33453,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1546,154,43,22,1,59887,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
20654,449,9,7,1,60066,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7496,893,4,13,1,33466,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8124,659,7,6,1,59952,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50632,599,33,13,1,60347,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
26220,860,20,21,1,60119,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
860,9,0,8,1,33417,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3857,233,2,7,1,59908,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
44484,843,116,31,0,60292,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [101]:
from sklearn.ensemble import RandomForestRegressor
  
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

KeyboardInterrupt: ignored

In [76]:
Y_pred = regressor.predict(X_test)

In [77]:
from sklearn.metrics import mean_squared_error
print("MSE=",mean_squared_error(Y_pred,y_test))

MSE= 1023.1306386685353

In [78]:
regressor.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 0,
 'verbose': 0,
 'warm_start': False}

In [102]:
from sklearn.model_selection import GridSearchCV
param=[{"n_estimators":[200,500, 750, 1000]}]
regressor = GridSearchCV(RandomForestRegressor(), param,n_jobs=-1)
regressor.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:703: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid=[{'n_estimators': [200, 500, 750, 1000]}])

In [103]:
Y_pred = regressor.predict(X_test)

In [87]:
#grid search sur n_estimators
print("MSE=",mean_squared_error(Y_pred,y_test))

MSE= 1008.1509384982947

In [104]:
MAPE(y_test, Y_pred)

0.10544792777240895

In [105]:
importance = regressor.best_estimator_.feature_importances_

In [106]:
importance

array([3.07223624e-01, 3.04353188e-01, 2.00211685e-01, 2.75952226e-03,
       1.36311617e-02, 6.88077359e-03, 2.34829497e-02, 9.90802376e-03,
       1.98292425e-02, 6.22928567e-03, 4.70109425e-02, 3.41442253e-03,
       5.65763860e-03, 2.69165461e-02, 9.44858144e-04, 4.80585530e-04,
       9.08482962e-04, 2.89115078e-04, 8.29432535e-04, 6.65455996e-04,
       1.25711584e-03, 4.04085487e-04, 6.18982407e-04, 1.17011902e-03,
       8.92096609e-04, 7.20155307e-04, 8.39493186e-04, 1.03354563e-03,
       1.03356844e-03, 6.83431092e-04, 6.61535836e-04, 9.13110733e-04,
       6.36309054e-04, 4.32073684e-04, 4.95254744e-04, 1.52744675e-03,
       1.33233492e-03, 8.44774986e-04, 9.06960930e-04, 6.83424814e-04,
       1.28724458e-03])

In [108]:
len(list(X.columns))

41

In [110]:
X.columns

Index(['hotel_id', 'stock', 'date', 'mobile', 'avatar_id', 'city_amsterdam',
       'city_copenhagen', 'city_madrid', 'city_paris', 'city_rome',
       'city_sofia', 'city_valletta', 'city_vienna', 'city_vilnius',
       'language_austrian', 'language_belgian', 'language_bulgarian',
       'language_croatian', 'language_cypriot', 'language_czech',
       'language_danish', 'language_dutch', 'language_estonian',
       'language_finnish', 'language_french', 'language_german',
       'language_greek', 'language_hungarian', 'language_irish',
       'language_italian', 'language_latvian', 'language_lithuanian',
       'language_luxembourgish', 'language_maltese', 'language_polish',
       'language_portuguese', 'language_romanian', 'language_slovakian',
       'language_slovene', 'language_spanish', 'language_swedish'],
      dtype='object')

In [132]:
df_importance = pd.DataFrame(list(zip(X.columns,importance)), columns =['variable', 'importance'])

In [138]:
df_importance

                  variable  importance
0                 hotel_id    0.307224
1                    stock    0.304353
2                     date    0.200212
3                   mobile    0.002760
4                avatar_id    0.013631
5           city_amsterdam    0.006881
6          city_copenhagen    0.023483
7              city_madrid    0.009908
8               city_paris    0.019829
9                city_rome    0.006229
10              city_sofia    0.047011
11           city_valletta    0.003414
12             city_vienna    0.005658
13            city_vilnius    0.026917
14       language_austrian    0.000945
15        language_belgian    0.000481
16      language_bulgarian    0.000908
17       language_croatian    0.000289
18        language_cypriot    0.000829
19          language_czech    0.000665
20         language_danish    0.001257
21          language_dutch    0.000404
22       language_estonian    0.000619
23        language_finnish    0.001170
24         language_french    0.000892
25         language_german    0.000720
26          language_greek    0.000839
27      language_hungarian    0.001034
28          language_irish    0.001034
29        language_italian    0.000683
30        language_latvian    0.000662
31     language_lithuanian    0.000913
32  language_luxembourgish    0.000636
33        language_maltese    0.000432
34         language_polish    0.000495
35     language_portuguese    0.001527
36       language_romanian    0.001332
37      language_slovakian    0.000845
38        language_slovene    0.000907
39        language_spanish    0.000683
40        language_swedish    0.001287

In [142]:
#importance of varibale cities = sum of all cities
df_importance.iloc[5:14].sum()

variable      city_amsterdamcity_copenhagencity_madridcity_p...
importance                                              0.14933
dtype: object

In [143]:
#importance of variable languages
df_importance.iloc[14:].sum()

variable      language_austrianlanguage_belgianlanguage_bulg...
importance                                             0.022491
dtype: object

In [141]:
dfs

[    variable  importance
 0   hotel_id    0.307224
 1      stock    0.304353
 2       date    0.200212
 3     mobile    0.002760
 4  avatar_id    0.013631,
 variable      city_amsterdamcity_copenhagencity_madridcity_p...
 importance                                              0.14933
 dtype: object,
 variable      language_austrianlanguage_belgianlanguage_bulg...
 importance                                             0.022491
 dtype: object]

In [115]:
uploaded = files.upload()

Saving test_set.csv to test_set.csv

In [116]:
df_test = pd.read_csv(io.BytesIO(uploaded['test_set.csv']))

In [117]:
df_test

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock
0,0,1,vilnius,21,romanian,0,1,161,46
1,1,1,vilnius,21,romanian,0,1,187,32
2,2,1,vilnius,21,romanian,0,1,279,12
3,3,1,vilnius,21,romanian,0,1,395,10
4,4,1,vilnius,21,romanian,0,1,488,42
...,...,...,...,...,...,...,...,...,...
6639,6639,843,rome,5,irish,0,794,987,1
6640,6640,844,vienna,1,irish,1,794,26,1
6641,6641,844,vienna,1,irish,1,794,263,0
6642,6642,844,vienna,1,irish,1,794,456,0
6643,6643,844,vienna,1,irish,1,794,699,0

In [119]:
df_test = pd.get_dummies(df_test)

In [121]:
del df_test['order_requests']
del df_test['index']

In [122]:
df_test

,date,mobile,avatar_id,hotel_id,stock,city_amsterdam,city_copenhagen,city_madrid,city_paris,city_rome,...,language_lithuanian,language_luxembourgish,language_maltese,language_polish,language_portuguese,language_romanian,language_slovakian,language_slovene,language_spanish,language_swedish
0,21,0,1,161,46,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,21,0,1,187,32,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,21,0,1,279,12,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,21,0,1,395,10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,21,0,1,488,42,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6639,5,0,794,987,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6640,1,1,794,26,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6641,1,1,794,263,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6642,1,1,794,456,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6643,1,1,794,699,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
Y_pred_test = regressor.predict(df_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [126]:
Y_pred_test = pd.DataFrame(Y_pred_test)

In [130]:
Y_pred_test.to_csv('Y_pred_test.csv')

In [131]:
Y_pred_test

              0
0     63.742667
1     63.742667
2     63.742667
3     63.742667
4     63.742667
...         ...
6639  68.894667
6640  82.624000
6641  82.624000
6642  82.624000
6643  82.624000

[6644 rows x 1 columns]